body{
   display: flex;
    width: 100%;
    min-height: 100vw;
    background-color: #c7e5ee;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}

#content-wrapper{
    display: flex;
    width: 50vw;
    flex-direction: column;
}

#startBtn{
   width: 10vw; 
   display: flex;
   justify-content: center;
}

#color-flip-box {
    display: flex;
    font-size: 30px;
    border: solid 5px rgb(39, 104, 226);
    background-color: rgb(93, 168, 218);
}

#content-container {
    border: solid 5px rgb(39, 104, 226);
    background-color: rgb(93, 168, 218);
    
}

button {
    border: solid 1px;
    font-weight: bold;
}


#choices-container {
    display: flex;
    justify-content: space-around;
   
}

.hide {
    display: none;
}